<h1>Contato</h1>
<p>Deixe-nos uma mensagem!</p>

<form (ngSubmit)="onSubmit(empForm, $event)">
<!-- <form ngSubmit="https://script.google.com/macros/s/AKfycbx2CUgBUEWd3sCuu7i_z7Dyw8Mg7L33NMMtUq9xed6iKWjwrBc/exec"> -->
<!-- <form class="gform" action="https://script.google.com/macros/s/AKfycbx2CUgBUEWd3sCuu7i_z7Dyw8Mg7L33NMMtUq9xed6iKWjwrBc/exec" method="POST"> -->
    <label>Nome:</label>
    <input type="text" name="name"required/>

    <label>E-mail</label>
    <input type="text" name="email"required/>
    
    <label>Mensagem</label>
    <textarea type="text" rows="14" name="message"required></textarea>
    
    <input type="submit" value="Enviar" tabindex="-1">

    <div style="opacity: 0;" class="mensagemRetorno">
        <span>Obrigado pelo contato!<br>
        Entraremos em contato com você em breve!</span>
    </div>

</form>